<div id="contact-view" class="page" ng-controller="contactDetailCtrl" xmlns="http://www.w3.org/1999/html">
    <div class="body">
        <div class="page-header">
            <h1>
                {{ data.contact.firstName }} {{ data.contact.lastName }}
                <small><a href="#/contact/{{ data.contact.id }}/edit" class="btn btn-default pull-right" title="Edit Contact">Edit</a></small>
            </h1>
        </div>

        <section class="info info-phones">
            <h3>Phones</h3>
            <ul>
                <li ng-repeat="phone in data.contact.phone_numbers">
                    <span class="label">{{ phone.label_id}}</span>
                    <span class="action-right"><i class="fa fa-phone"></i></span>
                    <span>{{ phone.phone }}</span>
                </li>
            </ul>
        </section>

        <section class="info info-emails">
            <h3>Emails</h3>
            <ul>
                <li ng-repeat="email in data.contact.emails">
                    <span class="label">{{ email.label_id }}</span>
                    <span class="action-right"><i class="fa fa-envelope-o"></i></span>
                    <span>{{ email.email }}</span>
                </li>
            </ul>
        </section>

        <secton class="info info-addresses">
            <h3>Addresses</h3>
            <ul>
                <li ng-repeat="address in data.contact.addresses">
                    <span class="label">{{ address.label_id }}</span>
                    <span class="action-right"><i class="fa fa-map-marker"></i></span>
						<span>
							<address>
                                {{ address.street1 }}<br>
                                {{ address.street2 }}<br>
                                {{ address.city }}, {{ address.state }} {{ address.zip }}<br>
                            </address>
						</span>
                </li>
            </ul>
        </secton>
    </div>
</div>